# #################### 共用配置 ####################
# ==================== 邮箱配置 ====================
IMAP_SERVER = 'imap.exmail.qq.com'
EMAIL_USER = '[EMAIL_ADDRESS]'
EMAIL_PASS = '[PASSWORD]'
ALLOWED_SENDER = '[EMAIL_ADDRESS]'    # 为了安全，只处理私人邮箱发来的

# ==================== 路径配置 ====================
REPO_PATH = '/root/Blogs'   # 你的本地仓库绝对路径
DIARY_DIR = 'content/diary' # 相对于仓库根目录的日记路径

# #################### 自动化脚本配置 ####################
# ==================== 路径配置 ====================
GIT_EXEC = '/root/miniconda3/bin/git'   # Git 的绝对路径
